Repository aboutcode-org/vulnerablecode, pull requests merged in 2023-01, with the labels that each got.

#1014 Migrate apache httpd importer#971
  CHANGELOG.rst
  requirements.txt
  setup.cfg
  vulnerabilities/importers/__init__.py
  vulnerabilities/importers/apache_httpd.py
  vulnerabilities/improvers/default.py
  vulnerabilities/tests/conftest.py
  vulnerabilities/tests/test_apache_httpd.py
  vulnerabilities/tests/test_data/apache_httpd/CVE-1999-1199-apache-httpd-expected.json
  vulnerabilities/tests/test_data/apache_httpd/CVE-2017-9798-apache-httpd-expected.json
  vulnerabilities/tests/test_data/apache_httpd/CVE-2017-9798.json
  vulnerabilities/tests/test_data/apache_httpd/CVE-2021-44224-apache-httpd-expected.json
  vulnerabilities/tests/test_data/apache_httpd/CVE-2021-44224.json
  vulnerabilities/tests/test_data/apache_httpd/CVE-2022-28614-apache-httpd-expected.json
  vulnerabilities/tests/test_data/apache_httpd/CVE-2022-28614.json
Labels: import-improver-migration

#1043 Migrate mozilla importer
  CHANGELOG.rst
  vulnerabilities/importers/__init__.py
  vulnerabilities/importers/mozilla.py
  vulnerabilities/tests/conftest.py
  vulnerabilities/tests/test_data/mozilla.zip
  vulnerabilities/tests/test_data/mozilla/expected-md.json
  vulnerabilities/tests/test_data/mozilla/expected-yml.json
  vulnerabilities/tests/test_data/mozilla/mfsa2006-02.md
  vulnerabilities/tests/test_data/mozilla/mfsa2022-01.yml
  vulnerabilities/tests/test_mozilla.py
Labels: import-improver-migration

#795 Add fireeye vulnerabilities #487
  vulnerabilities/importers/__init__.py
  vulnerabilities/importers/fireeye.py
  vulnerabilities/tests/test_data/fireeye/fireeye_test1.md
  vulnerabilities/tests/test_data/fireeye/fireeye_test1_expect.json
  vulnerabilities/tests/test_data/fireeye/fireeye_test2.md
  vulnerabilities/tests/test_data/fireeye/fireeye_test2_expect.json
  vulnerabilities/tests/test_fireeye.py
Labels: Data collection

#1075 use public VulnerableCode instance in VulnTotal
  vulntotal/datasources/vulnerablecode.py
Labels: VulnTotal
